<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ustudy</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/../static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/../static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/../static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/../static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/../static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/../static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/../static/assets/images/favicon.png" />
    <style>  
      #timer {  
          font-size: 50px;  
          font-weight: bold;  
          color: rgb(176, 172, 172);  
      }  
  </style> 
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <div class="container-scroller">
        {% include 'sidebar.html' %}
        <div class="container-fluid page-body-wrapper">
        </div>
    </div>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {% include 'navbar.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <!-- Announcements Card -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Announcements</h4>
        <div class="d-flex flex-row justify-content-between">
          <p class="text-muted mb-1">Latest news and announcements.</p>
        </div>
       {{Notifications[0]}}
      </div>
    </div>
  </div>
</div>

<!-- Dashboard Cards Section -->
<div class="row">
  <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Grade</h4>
        {{Notifications[-2]}}
        
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6 grid-margin stretch-card">    
    <div class="card">    
      <div class="card-body">    
        <h4 class="card-title">Exam Countdown</h4>    
        <!-- Exam Countdown content goes here -->    
        <div id="timer"></div>    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
        <script>    
            $(document).ready(function() {  
                // Get time left from Python code  
                var timeLeft = "{{Notifications[-1]}}"; // Assume that this is in seconds  
  
                // Calculate count down date  
                var countDownDate = new Date().getTime() + timeLeft * 1000;  
  
                var countdown = setInterval(function() {    
                    var now = new Date().getTime();    
                    var distance = countDownDate - now;    
  
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));    
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));    
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));    
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);    
  
                    document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";    
  
                    if (distance < 0) {    
                        clearInterval(countdown);    
                        document.getElementById("timer").innerHTML = "EXAM TIME!";    
                    }    
                }, 1000);    
            });  
        </script>    
      </div>    
    </div>    
</div>   
  

</div>

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Web Development Assignments</h4>
        <div class="row">
          <div class="col-12">
            <div class="preview-list">
              <!-- Assignment 1: HTML & CSS Basics -->
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-primary">
                    <i class="mdi mdi-language-html5"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">HTML & CSS Basics</h6>
                    <p class="text-muted mb-0">Create a static webpage using HTML5 and CSS3.</p>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-muted">Due in 2 days</p>
                  </div>
                </div>
              </div>
              <!-- Assignment 2: JavaScript Interactive Page -->
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-language-javascript"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">JavaScript Interactive Page</h6>
                    <p class="text-muted mb-0">Enhance your webpage with interactive elements using JavaScript.</p>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-muted">Due in 1 week</p>
                  </div>
                </div>
              </div>
              <!-- Assignment 3: Responsive Web Design -->
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-cellphone-link"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">Responsive Web Design</h6>
                    <p class="text-muted mb-0">Make your website responsive and mobile-friendly.</p>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-muted">Due in 10 days</p>
                  </div>
                </div>
              </div>
              <!-- Assignment 4: Full-Stack Web Application -->
              <div class="preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-web"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">Full-Stack Web Application</h6>
                    <p class="text-muted mb-0">Develop a full-stack web application using your choice of backend technology.</p>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-muted">Due in 3 weeks</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/../static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/../static/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/../static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/../static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/../static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/../static/assets/js/off-canvas.js"></script>
    <script src="/../static/assets/js/hoverable-collapse.js"></script>
    <script src="/../static/assets/js/misc.js"></script>
    <script src="/../static/assets/js/settings.js"></script>
    <script src="/../static/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/../static/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>