<!DOCTYPE html>  
<html lang="en">  
<head>  
    <!-- Required meta tags -->  
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>Ustudy</title>  
    <!-- plugins:css -->  
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">  
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">  
    <!-- Layout styles -->  
    <link rel="stylesheet" href="/static/assets/css/style.css">  
    <!-- End layout styles -->  
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />  
</head>  
<body>  
<div class="container-scroller">  
    <!-- partial:partials/_navbar.html -->  
    <nav class="navbar p-0 fixed-top d-flex flex-row">  
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">  
            <a class="navbar-brand brand-logo-mini" href=""><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>  
        </div>  
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">  
            <h4 class="mb-0 d-none d-lg-block">Ustudy</h4>  
            <ul class="navbar-nav navbar-nav-right">  
                <li class="nav-item nav-settings d-none d-lg-block">  
                    <a class="nav-link" href="#">  
                        <i class="mdi mdi-bell"></i>  
                    </a>  
                </li>  
                <li class="nav-item dropdown">  
                    <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">  
                        <div class="navbar-profile">  
                            <img class="img-xs rounded-circle" src="/static/assets/images/faces/face15.jpg" alt="">  
                            <i class="mdi mdi-menu-down d-none d-sm-block"></i>  
                        </div>  
                    </a>  
                </li>  
            </ul>  
        </div>  
    </nav>  
    <!-- partial -->  
    <div class="container-fluid page-body-wrapper">  
        <!-- partial:partials/_sidebar.html -->  
        <nav class="sidebar sidebar-offcanvas" id="sidebar">  
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">  
                <a class="sidebar-brand brand-logo" href=""><img src="/static/assets/images/logo.svg" alt="logo" /></a>  
                <a class="sidebar-brand brand-logo-mini" href=""><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>  
            </div>  
            <div class="row">  
                <div class="col-md-6">  
                    <ul class="nav">  
                        <li class="nav-item">  
                            <a class="nav-link" href=""><img src="course1.png" alt="course1"/></a>  
                            <a class="nav-link" href=""><img src="course2.png" alt="course2"/></a>  
                        </li>  
                        <li class="nav-item">  
                            <a class="nav-link" href=""><img src="course3.png" alt="course3"/></a>  
                            <a class="nav-link" href=""><img src="course4.png" alt="course4"/></a>  
                        </li>  
                    </ul>  
                </div>  
                <div class="col-md-6">  
                    <div class="chatbox">  
                        <p>Your chat goes here</p>  
                    </div>  
                </div>
            </div>
        </nav>
        <!-- partial -->
        
